@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nav-content {
  padding-left: 100px;
  padding-right: 100px;
  height: 70px;
}
.logo {
  height: 40px;
  width: 305px;
}
.sidebar-item {
  color: #333;
  font-family: Helvetica Neue;
  font-size: 14px;
}
.sidebar-item:hover {
  color: #e78c45;
}
.input-field {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  background: rgba(0, 0, 0, 0.02);
  height: 31px;
  padding: 7.25px 7px;
}
.footer {
  background: #264266;
  padding: 50px 230px 20px 100px;
  width: 100%;
  height: 328px;
}
.footer-first-content {
  width: 100%;
  height: 138px;
  display: flex;
  justify-content: space-between;
}
.save-button {
  display: flex;
  width: 107px;
  height: 40px;
  padding: 5px 9.8px 5px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #767676;
  color: #000;
}
.save-button:hover {
  background: #283f59;
  color: #ffffff;
}
.submit-button {
  display: flex;
  width: 165px;
  height: 40px;
  padding: 5px 9.8px 5px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #767676;
  color: #000;
}
.submit-button:hover {
  background: #283f59;
  color: #ffffff;
}

.main-contain {
  padding-left: 100px;
  padding-right: 100px;
}
.navbar-item {
  color: #ffffff;
  /* padding: 5px; */
}
.navbar-item:hover {
  border-radius: 3px;
  border: 2px solid #d7d7d9;
}

.social {
  display: inline-flex;
  height: 138px;
  padding: 82px 0px 27.5px 35px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.footer-items {
  color: #fff;
  font-size: 14px;
}
.f-text {
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding-top: 50px;
  margin-left: 100px;
}
.copy-right-text {
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;

  margin-left: 100px;
}
.footer-sec {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-text{
    color: #1975B3;
    font-size: 20px;
}
.h-text{
    color: #1975B3; 
    font-size:14px;
}
