@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nav-content {
  padding-left: 100px;
  padding-right: 100px;
  height: 70px;
}
.logo {
  height: 40px;
  width: 305px;
}

.input-field {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  background: rgba(0, 0, 0, 0.02);
  height: 31px;
  padding: 7.25px 7px;
}


.main-contain {
  padding-left: 100px;
  padding-right: 100px;
}



.span-text{
    color: #1975B3;
    font-size: 20px;
}
.h-text{
    color: #1975B3; 
    font-size:14px;
}
