.save-button {
  display: flex;
  width: 107px;
  height: 40px;
  padding: 5px 9.8px 5px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #767676;
  color: #000;
}
.save-button:hover {
  background: #283f59;
  color: #ffffff;
}
.submit-button {
  display: flex;
  width: 165px;
  height: 40px;
  padding: 5px 9.8px 5px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #767676;
  color: #000;
}
.submit-button:hover {
  background: #283f59;
  color: #ffffff;
}
.span-text {
  color: #1975b3;
  font-size: 20px;
}

.input-field {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  background: rgba(0, 0, 0, 0.02);
  height: 31px;
  padding: 7.25px 7px;
}
